html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", "Monaco", "Garamond" ;
  background-color: #FFFFFF;
}

/*-- NAVBAR --*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6D60;
}
  
.navbar a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 40px;
  color: #FFFFFF
}

  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: .3s;
  }

  .navbar a:hover::before {
    width: 100%;
  }
 
  /* DROPDOWN MENU */
  .toggle_btn {
    display: none;
    cursor: pointer;
  }

  .dropdown_menu{
    display: none;
    position: absolute;
    left: 0rem;
    top: 55px;
    height: 0;
    width: 100vw; 
    background-color: #FF6D60;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .dropdown_menu.open {
    height: 275px;
  }

  
  .dropdown_menu a {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

  
  /*.dropdown_menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    width: 10px;
    height: 50px;
    background: #FFFFFF;
    transition: .3s;
  }

  .dropdown_menu a:hover::before {
    width: 100%;
  }*/

.wrapper {
    display: flex;
}

#event_form{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .divider{
    padding-top: 70px;
  }

  .divline{
    padding-top: 10px;
    width: 100vh;
    border: #051B36 1px solid;
  }


  .send_contact_form {
    flex: 1; /* Los divs internos ocuparán el mismo espacio */
    box-sizing: border-box; /* Incluir borde en el tamaño */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px 40px 0 40px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.37);
  }

  .send_contact_form label{
    margin-top: 10px;
    width: 500px;
  }

  .send_contact_form input[type=text],
  .send_contact_form input[type=email],
  .send_contact_form textarea {
    width: 500px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    /*border: 1px solid #051B36;*/
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */

  }

  .send_contact_form textarea {
    height: 200px;
    resize: none;
  }


  /*------ Modal email message -----*/
  .email_message{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 400px;
    height: 250px;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .email_message .image {
    margin-top: 10px;
    background-color: #FF6D60;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email_message p{
    font-size: 15px;
  }

  /*------------- SLOGAN --------------*/
  .slogan{
      color: #051B36;;
      margin: 0;
  }

  .line1{
    font-size: 30px;
  }
  
  /* ------ MODAL SEND INVITATION TO A FRIEND ------*/
  .invite_friend{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    animation: grow 0.5s forwards;
  }

  .invite_friend .image {
    margin-top: 0;
    background-color: #FF6D60;
    border-radius: 70px;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .invite_friend input[type=text],
  .invite_friend input[type=email] {
    width: 450px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }

  .invite_friend span{
    width: 450px;
  }

  .invite_friend label {
    margin-top: 10px;
    width: 450px;
  }

  #button_invite_friend{
    display: flex;
    margin-top: 15px;
  }

  #button_invite_friend .button {
    margin-right: 10px;
}

#button_invite_friend .button:last-child {
    margin-right: 0; 
}

.work_and_invite{
  background-color: #F2F2F2;
  padding: 40px 0 40px 0;
  margin-top: 30px;
}
 
.wrapper_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

 .wrapper_center .tittle {
    /*color: #2D8CFF;*/
    color: #051B36;
    font-size: 30px;
    font-weight: bold;
  }
  .information-form {
    flex: 1; /* Los divs internos ocuparán el mismo espacio */
    padding: 20px;
  }

  .join_event {
    display: flex;
    justify-content: left;
    border-radius: 20px;
    margin: 10px 80px 0px 80px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.37);
    padding: 20px 10px 10px 40px;
  }

  .topic {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
  }

  .topic.logo{
    width: 300px;
    height: 250px;
    border: 2px solid #051B36;
    object-fit: cover;
    border-radius: 20px;
  }

  .topic.title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #051B36;
  }
  
  .timezone {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3px;
    margin: 0 0 20px 5px;
    font-size: 16px;
    color: #051B36;
  }

  .timezone img{
    width: 25px;
    height: 25px;
  }



  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img{
    height: 200px;
    width: 200px;
  }


  .information_project {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
  }

  .tittle_information_project{
    background-color: #F7D060;
    color: #FFFFFF;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 10px;
    border-radius: 50px;

  }

  .how_works {
    flex: 0 0 ;
    border: 1px solid #051B36;
    border-radius: 20px;
    width: 250px;
    height: 300px; 
    margin: 40px 40px 40px 0;
    box-shadow: 5px 5px 0 0.5px #051B36;
  }

  .how_works div{
    margin: 0;
    font-size: 20px;
    width: 230px;
    padding-left: 10px;
    background-color: #F2F2F2;
    color: #051B36;
  }

  .tittle_contact{
    color: #051B36;
    height: 40px;
    font-size: 35px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }



  /*----- BUTTONS -----*/

  .button{
    display: inline;
    background-color: #FF6D60;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    font-size:20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .button:hover{
    cursor: pointer;
    background-color: #fa4333;
  }

  
  .button_contact{
    width: 500px;
    height: 40px;
  }

  .button_loading{
    width: 500px;
    height: 40px;
    display: none;
  }

  .button_send_invitation{
    width: 500px;
    height: 50px;
  }

  #button_join_event{
    width: 300px;
    height: 50px;
  }

  .invite_friend #invitation_cancel_button{
    color: #FF6D60;
    background-color: #FFFFFF;
    border: 1px solid #ccc; 
    width: 200px;
    height: 40px;
  }

  .invite_friend #invitation_cancel_button:hover{
    background-color: #dedddd;
    border: 1px solid #dedddd;
  }

  .invite_friend #invitation_send_button,
  .invite_friend #loading_button_invite {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
  }

  .button img{
    margin-left: 8px;
  }

  /* ----- ERRORS -----*/
  .error {
    color: #f90a0a;
    font-size: 14px;
    margin-top: -10px;
    width: 500px;
}



/* ------ INVITATION FORM ------ */
#invitation_form{
  background-color: #fcf9f9;
  color: #051B36;
  font-size: 25px;
  border-radius: 20px;
  margin: 10px 80px 0px 80px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.37);
  text-align: center;
}

.wrapper.frequent_questions{
  display: flex;     
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* ----------- FOOTER ----------------- */
footer {
  background-color: #f8f9fa; /* Color de fondo suave */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  border-top: 3px solid #e9ecef; /* Borde superior */
}

footer p {
  color: #051B36;
  /*color: #343a40;*/ /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 5px 0; /* Espaciado vertical */
  line-height: 1.5; /* Altura de línea */
  
}

footer button {
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 10px; /* Tamaño de la fuente */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.4s; /* Transición suave para el cambio de color de fondo */
}

.loader{
  pointer-events: none;
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-radius: 50px;
  border-top-color: #FFFFFF;
  animation: an1 1s ease infinite;
}

.progress-bar{
  position: relative;
  width: 350px;
  height: 20px;
  background-color: #F2F2F2;
  border-radius: 40px;
}

.line-bar{
  height: 15px;
  border-radius: 40px;
  background-color: #FF6D60;
  animation: loading 4.9s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }  
}

@keyframes an1 {
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

@keyframes grow {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}


  /* ----------- RESPONSIVE DESIGN TABLETS -----------------*/
  @media (max-width: 992px) {
    .header {
      padding: 20px 50px;
    }
    
    .navbar a {
      margin-right: 20px;
    }

    .wrapper{
      flex-direction: column-reverse;
    }

    .wrapper.frequent_questions{
      flex-direction: column;
    }

    .wrapper_center label{
      text-align: center;
    }

    .how_works{
      margin: 10px 0 10px 0;
    }

    .send_contact_form input[type="text"],
    .send_contact_form input[type="email"],
    .send_contact_form textarea,
    .send_contact_form label,
    .send_contact_form .button {
      width: 400px;
    }

    .error {
      width: 400px;
    }

    #invitation_form{
      font-size: 20px;
      border-radius: 20px;
      margin: 10px 30px 0px 30px;
    }

    .button_send_invitation{
      width: 300px;
    }

    .line1{
      font-size: 25px;
    }

    .topic{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
  }


   
  /* ----------- RESPONSIVE DESIGN PHONES -----------------*/
  @media (max-width: 766px) {
    .navbar {
      display: none;
    }
  
    .toggle_btn  {
      display: block;
    }
      
    .dropdown_menu {
      display: flex;
      flex-direction: column;
    }
  
    .header {
      padding: 20px 10px;
    }
  
    .send_contact_form input[type="text"],
    .send_contact_form input[type="email"],
    .send_contact_form textarea,
    .send_contact_form label,
    .send_contact_form .button {
      width: 400px;
    }
  
    .error {
      width: 400px;
    }

    .line1{
      font-size: 20px;
    }

    .logo img{
      height: 150px;
      width: 150px;
    }

    
    #invitation_form{
      font-size: 20px;
      border-radius: 20px;
      margin: 10px 20px 0px 20px;
    }
  
  
  }

  @media (max-width: 601px) {
    .send_contact_form{
      margin: 10px 20px 0 20px;
    }

    .send_contact_form input[type="text"],
    .send_contact_form input[type="email"],
    .send_contact_form textarea,
    .send_contact_form label,
    .send_contact_form .button {
      width: 340px;
    }
  
    .error {
      width: 340px;
    }

    .invite_friend{
      width: 400px;
    }

    
    .invite_friend input[type="text"],
    .invite_friend input[type="email"],
    .invite_friend label,
    .invite_friend span,
    .invite_friend .button {
      width: 390px;
    }

    #button_invite_friend {
      display: flex;
      flex-direction: column-reverse;
    }

    .line1{
      font-size: 15px;
    }

    .join_event{
      margin: 10px 20px 0px 20px;
      padding: 20px 10px 10px 10px;
    }

    .topic.logo{
      width: 250px;
      height: 200px;
    }

    .topic.title{
      font-size: 30px;
    }

  }

    /* ----------- RESPONSIVE DESIGN PHONES -----------------*/
    @media (max-width: 401px) {
      .send_contact_form input[type="text"],
      .send_contact_form input[type="email"],
      .send_contact_form textarea,
      .send_contact_form label,
      .send_contact_form .button {
        width: 290px;
      }
  
      .error {
        width: 290px;
      }

      #invitation_form{
        margin: 10px 20px 0px 20px;
      }   

      .invite_friend{
        width: 340px;
      }

      .invite_friend input[type="text"],
      .invite_friend input[type="email"],
      .invite_friend label,
      .invite_friend span,
      .invite_friend .button {
        width: 290px;
      }

      .topic.title{
        font-size: 30px;
      }

    }
  


    
  /* ----------- RESPONSIVE DESIGN PHONES -----------------*/
  @media (max-width: 376px) {
    .send_contact_form input[type="text"],
    .send_contact_form input[type="email"],
    .send_contact_form textarea,
    .send_contact_form label,
    .send_contact_form .button {
      width: 270px;
    }
  
    .error {
      width: 270px;
    }

    .button_send_invitation{
      width: 270px;
    }

    .invite_friend{
      width: 290px;
    }

    .invite_friend input[type="text"],
    .invite_friend input[type="email"],
    .invite_friend label,
    .invite_friend span,
    .invite_friend .button {
      width: 270px;
    }

    #button_join_event{
      width: 250px;
    }
  }

  /* ----------- RESPONSIVE DESIGN PHONES -----------------*/
  @media (max-width: 321px) {
    #invitation_form{
      margin: 10px 10px 0px 10px;
    }   

    .send_contact_form{
      margin: 10px 10px 0 10px;
    }

    .invite_friend{
      width: 270px;
    }

    .invite_friend input[type="text"],
    .invite_friend input[type="email"],
    .invite_friend label,
    .invite_friend span,
    .invite_friend .button {
      width: 250px;
    }
  
  }